body{
    background-color:#f0f0f0;
    font-family: Arial, sans-serif;
   
  }
  header{
    display: flex;
    margin-left: 0em;
    position: -webkit-sticky;
    position: sticky;
    background-color: #b77578;
    height:100px;
  }
  .logo{
    margin:0 auto;
    padding-top: 2%;
    padding-left: 1%;
  }

  /*syle rule for navigation*/
nav {
    background-color:#b77578 ;
    float: right;
    margin:0;
    width: 100%;
  }
  
  nav ul{
    list-style-type: none;
    text-align:center; 
  }
  
  nav li{
    display:inline ;
    padding: 1%;
    border-top: none;
  }
  
  nav li a{
    color: #fff;
    text-decoration: none;
  }
/* Styles for the main grid */
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
  }
  
  /* Styles for each article */
  article {
    grid-column-start: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles for the headings */
  h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color:black;
    text-shadow: #333 ;
  }
  
  /* Styles for the images */
  img.round {
    border-radius: 50%; /* Make images round */
    display: block;
    margin: 0 auto 15px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
  }
  
  /* Styles for paragraphs */
  p {
    
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  /* Styles for unordered lists */
  ul {
    padding: 0;
    margin: 0;
    list-style-type: circle;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
    font-family: Arial, sans-serif;
    margin-top: auto; /* Push the footer to the bottom */
  }
  footer p {
    margin: 5px 0; /* Margin around each paragraph */
  }
  
  footer a {
    color: #0066cc; /* Link color */
    text-decoration: none; /* Remove underline from links */
  }
  
  footer a:hover {
    text-decoration: underline; /* Underline links on hover */
  }
    
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .main {
      grid-template-columns: 1fr ; /* Stack articles on smaller screens */
    }
  }