
/* Common Styles */
body{
  background-color:#f0f0f0;
  font-family: Arial, sans-serif;
 
}
header{
  display: flex;
  margin-left: 0em;
  position: -webkit-sticky;
  position: sticky;
  background-color: #0f0331;
 
}
.logo{
  margin:0 auto;
  padding-top: 2%;
  padding-left: 1%;
}

/*syle rule for navigation*/
nav {
  background-color:#0f0331 ;
  float: right;
  margin:0;
  width: 100%;
}

nav ul{
  list-style-type: none;
  text-align: center; 
}

nav li{
  display: inline ;
  padding: 1%;
  border-top: none;
}

nav li a{
  color: #fff;
  text-decoration: none;
}

div{
  padding: 2px;
}
h1{
  padding: 2px;
  text-align: center;
}
p{
  text-align: center;
}
#training-schedule {
  text-shadow: #333;
 text-align: center;
}

#training-table,caption {
  padding:2px;
  width: 100%;
  border-collapse: collapse;
  border:1px  solid #333; 
  background-color: #e6e0e6;
}

#training-table th, #training-table td {
  border-bottom: 1px solid #ddd;
  text-align: left;

}

#training-table th {
  background-color: #beb9be;
}

#other-content {
  padding: 40px;
}

footer {
  background-color: grey;
  color: black;
  text-align: center;
  padding: 20px;
}


@media (max-width: 480px) {
  
  #training-table {
    font-size: 14px;
  }
  
  #training-table th, #training-table td {
    padding: 8px;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
  
  #training-table {
    font-size: 16px;
  }
  
  #training-table th, #training-table td {
    padding: 12px;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  
  #training-table {
    font-size: 18px;
  }
  
  #training-table th, #training-table td {
    padding: 16px;
  }
}

