@media (max-width: 767px) {
  header {
    padding: 20px;
  }
  
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  
  nav li {
    margin: 10px 0;
  }
  
  #training-table {
    font-size: 14px;
  }
  
  #training-table th, #training-table td {
    padding: 8px;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    padding: 30px;
  }
  
  nav ul {
    justify-content: center;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  #training-table {
    font-size: 16px;
  }
  
  #training-table th, #training-table td {
    padding: 12px;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  body{
    background-color:#f0f0f0;
    font-family: Arial, sans-serif;
   
  }
  header{
    display: flex;
    margin-left: 0em;
    position: -webkit-sticky;
    position: sticky;
    background-color: #b77578;
    height:100px;
  }
  .logo{
    margin:0 auto;
    padding-top: 2%;
    padding-left: 1%;
  }

  /*syle rule for navigation*/
nav {
    background-color:#b77578 ;
    float: right;
    margin:0;
    width: 100%;
  }
  
  nav ul{
    list-style-type: none;
    text-align:center; 
  }
  
  nav li{
    display:inline ;
    padding: 1%;
    border-top: none;
  }
  
  nav li a{
    color: #fff;
    text-decoration: none;
  }
  #training-table {
    font-size: 18px;
  }
  
  #training-table th, #training-table td {
    padding: 16px;
  }
}

/* Common Styles */
body{
  background-color:#f0f0f0;
  font-family: Arial, sans-serif;
 
}
header{
  display: flex;
  margin-left: 0em;
  position: -webkit-sticky;
  position: sticky;
  background-color: #b77578;
  height:100px;
}
.logo{
  margin:0 auto;
  padding-top: 2%;
  padding-left: 1%;
}

/*syle rule for navigation*/
nav {
  background-color:#b77578 ;
  float: right;
  margin:0;
  width: 100%;
}

nav ul{
  list-style-type: none;
  text-align:center; 
}

nav li{
  display:inline ;
  padding: 1%;
  border-top: none;
}

nav li a{
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background-color: #bbabab;
}
div{
  padding: 2px;
}
h1{
  padding: 2px;
  text-align: center;
}
p{
  text-align: center;
}
#training-schedule {
  padding: 40px;
}

#training-table {
  width: 100%;
  border-collapse: collapse;
}

#training-table th, #training-table td {
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#training-table th {
  background-color: #f2f2f2;
}

#other-content {
  padding: 40px;
}

footer {
  background-color: #b77578;
  color: #fff;
  text-align: center;
  padding: 20px;
}